<table width="100%" border="0"
    style="width: 100%; table-layout: fixed!important; font-family:  Arial, 'sans-serif'; text-align:center; border-collapse: collapse;">
    <tr>
        <td valign="top" style=" width: 40px;">
            <table width="100%" style="width: 40px;">
                <tr>
                    <td
                        style="color: #FFFFFF; background-color:#0F93C4; margin: 0 auto; font-size: 10px; width: 25px; height: 25px; text-align: center;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
            <p style="color:#0F93C4; margin-top: 10px; font-size: 11px; font-weight: bold; text-align: left; white-space: nowrap;">Draft</p>
        </td>
        <td valign="top" style="color: #7AC6E2; padding-top: 5px; width: 40px;">→</td>
        <td valign="top" style="width: 40px;">
            <table>
                <tr>
                    <td
                        style="color: #FFFFFF; background-color:#0F93C4; margin: 0 auto; font-size: 10px; width: 25px; height: 25px; text-align: center;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
            <p
                style="color:#0F93C4; margin-top: 10px; font-size: 10px; width: 40px; text-align: left; font-weight: bold; white-space: nowrap;">
                IT Proc.<br>Confirmation</p>
        </td>
        <td valign="top" style="color: #7AC6E2; padding-top: 5px; width: 30px;">→</td>
        <td valign="top" style="width: 40px;">
            <table>
                <tr>
                    <td
                        style="color: #FFFFFF; background-color:#0F93C4; margin: 0 auto; font-size: 10px; width: 25px; height: 25px; text-align: center;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
            <p
                style="color:#0F93C4; margin-top: 10px; font-size: 10px;  width: 40px; text-align: left; font-weight: bold; white-space: nowrap;">
                Hierarchical<br>Approval</p>
        </td>
        <td valign="top" style="color: #7AC6E2; padding-top: 5px; width: 40px;">→</td>
        <td valign="top" style="width: 40px;">
            <table>
                <tr>
                    <td
                        style="color: #FFFFFF; background-color:#0F93C4; margin: 0 auto; font-size: 10px; width: 25px; height: 25px; text-align: center;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
            <p style="color:#0F93C4; margin-top: 10px; font-size: 10px;  width: 40px; text-align: left; font-weight: bold; white-space: nowrap;">
                Area<br>Approval</p>
        </td>
        <td valign="top" style="color: #7AC6E2; padding-top: 5px; width: 40px;">→</td>
        <td valign="top" style="width: 40px;">
            <table>
                <tr>
                    <td
                        style="color: #FFFFFF; background-color:#7AC6E2; margin: 0 auto; font-size: 10px; width: 25px; height: 25px; text-align: center;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
            <p style="color:#8A8A8A; margin-top: 10px; font-size: 10px;  width: 40px; text-align: left; white-space: nowrap;">
                Vendor<br>Evaluation</p>
        </td>
        <td valign="top" style="color: #7AC6E2; padding-top: 5px; width: 40px;">→</td>
        <td valign="top" style="width: 40px;">
            <table>
                <tr>
                    <td
                        style="color: #FFFFFF; background-color:#7AC6E2; margin: 0 auto; font-size: 10px; width: 25px; height: 25px; text-align: center;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
            <p style="color:#8A8A8A; margin-top: 10px; font-size: 10px;  width: 40px; text-align: left; white-space: nowrap;">
                Financial<br>Approval</p>
        </td>
        <td valign="top" style="color: #7AC6E2; padding-top: 5px; width: 40px;">→</td>
        <td valign="top" style="width: 40px;">
            <table>
                <tr>
                    <td
                        style="color: #FFFFFF; background-color:#7AC6E2; margin: 0 auto; font-size: 10px; width: 25px; height: 25px; text-align: center;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
            <p style="color:#8A8A8A; margin-top: 10px; font-size: 10px; text-align: left; width: 40px; white-space: nowrap;">SAP Info<br>Update</p>
        </td>
        <td valign="top" style="color: #7AC6E2; padding-top: 5px; width: 40px;">→</td>
        <td valign="top" style="width: 40px;">
            <table>
                <tr>
                    <td
                        style="color: #FFFFFF; background-color:#7AC6E2; margin: 0 auto; font-size: 10px; width: 25px; height: 25px; text-align: center;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
            <p style="color:#8A8A8A; margin-top: 10px; font-size: 10px; text-align: left; width: 40px; white-space: nowrap;">Requisition</p>
        </td>
        <td valign="top" style="color: #7AC6E2; padding-top: 5px; width: 40px;">→</td>
        <td valign="top" style="width: 40px;">
            <table>
                <tr>
                    <td
                        style="color: #FFFFFF; background-color:#7AC6E2; margin: 0 auto; font-size: 10px; width: 25px; height: 25px; text-align: center;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
            <p style="color:#8A8A8A; margin-top: 10px; font-size: 10px; text-align: left; white-space: nowrap;">IT
                Cost<br>Mgmt.<br>Validation</p>
        </td>
        <td valign="top" style="color: #7AC6E2; padding-top: 5px; width: 40px;">→</td>
        <td valign="top" style="width: 40px;">
            <table>
                <tr>
                    <td
                        style="color: #FFFFFF; background-color:#7AC6E2; margin: 0 auto; font-size: 10px; width: 25px; height: 25px; text-align: center;">
                        &nbsp;&nbsp;&nbsp;&nbsp;10&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
            <p style="color:#8A8A8A; margin-top: 10px; font-size: 11px; text-align: left; width: 40px; white-space: nowrap;">Closed</p>
        </td>
    </tr>
</table>