<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Kimberly-Clark | DTSPS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="735"
        style="border-collapse: collapse; border: 2px solid #f5f5f5;font-family:  Arial, sans-serif; font-size: 14px;">
        <tbody>
            <!-- Title -->
            <tr>
                <td style="padding: 8px 20px;color: #ffffff; font-family:  Arial, sans-serif; font-size: 14px; border: none;"
                bgcolor="{{ color }}">
                    <b>DTSPS - Request for Service (RFS) - {{ label }}</b>
                </td>
            </tr>
            <!-- Content text -->
            <tr>
                <td style="padding: 10px 21px 5px 21px; font-family:  Arial, sans-serif; font-size: 14px;">
                    {{ contentText }}
                </td>
            </tr>
            <!-- RFS ID -->
            <tr>
                <td style="padding:5px 21px; font-family:  Arial, sans-serif; font-size: 14px;">
                    <b>RFS ID:</b> {{ rfs.id }}
                </td>
            </tr>
            <!-- Title  -->
            <tr>
                <td style="padding:5px 21px; font-family:  Arial, sans-serif; font-size: 14px;">
                    <b>Title:</b>  {{ rfs.title }}
                </td>
            </tr>
            <!-- Requestor -->
            <tr>
                <td style="padding:5px 21px; font-family:  Arial, sans-serif; font-size: 14px;">
                    <b>Requestor:</b>  {{ rfs.requestor }}
                </td>
            </tr>
            <!-- RFS Status -->
            <tr>
                <td style="padding:5px 21px; font-family:  Arial, sans-serif; font-size: 14px;">
                    <b>RFS Status:</b>  {{ rfs.status }}
                </td>
            </tr>
            <!-- Category Manager -->
            <tr>
                <td style="padding:5px 21px; font-family:  Arial, sans-serif; font-size: 14px;">
                    <b>Category Manager:</b>  {{ rfs.categoryManager }}
                </td>
            </tr>
            <!-- City and Country -->
            <tr>
                <td style="padding:5px 21px; font-family:  Arial, sans-serif; font-size: 14px;">
                    <b>City and Country:</b> {{ rfs.cityAndCountry }}
                </td>
            </tr>
            <!-- Organization -->
            <tr>
                <td style="padding:5px 21px; font-family:  Arial, sans-serif; font-size: 14px;">
                    <b>Organization:</b> {{ rfs.organization }}
                </td>
            </tr>
            <!-- Category  -->
            <tr>
                <td style="padding:5px 21px; font-family:  Arial, sans-serif; font-size: 14px;">
                    <b>Category:</b> {{ rfs.category }}
                </td>
            </tr>
            <!-- Region  -->
            <tr>
                <td style="padding:5px 21px 10px 21px; font-family:  Arial, sans-serif; font-size: 14px;">
                    <b>Region:</b> {{ rfs.region }}
                </td>
            </tr>
            {{#if showCta}}
                <!-- Aditional text -->
                <tr>
                    <td style="padding: 0 21px 5px 21px;; font-family:  Arial, sans-serif; font-size: 14px;">
                        {{ bottomText }}
                    </td>
                </tr>
                {{#if default}}
                    <!-- button cta Go to RFS -->
                    <tr>
                        <td>
                            <table align="left" border="0" cellpadding="0" cellspacing="0"
                                style="border-collapse: collapse; border: none;font-family:  Arial, sans-serif; font-size: 14px;  cursor: pointer;margin-left: 21px; margin-top: 10px; margin-bottom: 20px;">
                                <tbody>
                                    <tr>
                                        <td style="padding: 8px 20px;color: #ffffff; font-family:  Arial, sans-serif; font-size: 14px; border: none;"
                                        bgcolor="#0f93c4">
                                            <a href="{{ link }}" style="text-decoration: none;display: inline-block; font-family: sans-serif; cursor: pointer; border: none; color: white; text-align: center;">Go to RFS</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {{else}}
                    <!-- button cta APPROVE / REJECT -->
                    <tr>
                        <td style="padding: 10px 21px;font-family:  Arial, sans-serif; font-size: 14px;">
                            <table align="left" border="0" cellpadding="0" cellspacing="0"
                                style="border-collapse: collapse; border: none;font-family:  Arial, sans-serif; font-size: 14px;  cursor: pointer; margin-top: 10px; margin-bottom: 20px;">
                                <tbody>
                                    <tr>
                                        <td style="padding: 8px 20px;color: #ffffff; font-family:  Arial, sans-serif; font-size: 14px; border: none;"
                                        bgcolor="#8ebb93">
                                            <a href="{{ link }}" style="text-decoration: none;display: inline-block; font-family: sans-serif; cursor: pointer; border: none; color: white; text-align: center;">APPROVE</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table align="left" border="0" cellpadding="0" cellspacing="0"
                                style="border-collapse: collapse; border: none;font-family:  Arial, sans-serif; font-size: 14px;  cursor: pointer;margin-left: 21px; margin-top: 10px; margin-bottom: 20px;">
                                <tbody>
                                    <tr>
                                        <td style="padding: 8px 20px;color: #ffffff; font-family:  Arial, sans-serif; font-size: 14px; border: none;"
                                        bgcolor="#d36060">
                                            <a href="{{ link }}" style="text-decoration: none;display: inline-block; font-family: sans-serif; cursor: pointer; border: none; color: white; text-align: center;">REJECT</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {{/if}}
            {{/if}}
        </tbody>
    </table>
</body>
</html>