<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Kimberly-Clark | DTSPS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        @font-face {
            font-family: 'Poppins', sans-serif;
            src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        }
        * { font-family: 'Poppins', sans-serif; }
    </style>
</head>
<body style="margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="735"
        style="border-collapse: collapse; border: 2px solid #f5f5f5;font-size: 14px;">
        <tbody>
            <!-- Title -->
            <tr>
                <td style="padding: 8px 20px;color: #ffffff; font-size: 14px;"
                bgcolor="{{ color }}">
                    <b>DTSPS - Request for Service (RFS) - {{ label }}</b>
                </td>
            </tr>
            <!-- Content text -->
            <tr>
                <td style="padding: 10px 21px 5px 21px; font-size: 14px;">
                    {{ contentText }}
                </td>
            </tr>
            <!-- RFS ID -->
            <tr>
                <td style="padding:5px 21px; font-size: 14px;">
                    <b>RFS ID:</b> {{ rfs.id }}
                </td>
            </tr>
            <!-- Title  -->
            <tr>
                <td style="padding:5px 21px; font-size: 14px;">
                    <b>Title:</b>  {{ rfs.title }}
                </td>
            </tr>
            <!-- Requestor -->
            <tr>
                <td style="padding:5px 21px; font-size: 14px;">
                    <b>Requestor:</b>  {{ rfs.requestor }}
                </td>
            </tr>
            <!-- RFS Status -->
            <tr>
                <td style="padding:5px 21px; font-size: 14px;">
                    <b>RFS Status:</b>  {{ rfs.status }}
                </td>
            </tr>
            <!-- Category Manager -->
            <tr>
                <td style="padding:5px 21px; font-size: 14px;">
                    <b>Category Manager:</b>  {{ rfs.categoryManager }}
                </td>
            </tr>
            <!-- City and Country -->
            <tr>
                <td style="padding:5px 21px; font-size: 14px;">
                    <b>City and Country:</b> {{ rfs.cityAndCountry }}
                </td>
            </tr>
            <!-- Organization -->
            <tr>
                <td style="padding:5px 21px; font-size: 14px;">
                    <b>Organization:</b> {{ rfs.organization }}
                </td>
            </tr>
            <!-- Category  -->
            <tr>
                <td style="padding:5px 21px; font-size: 14px;">
                    <b>Category:</b> {{ rfs.category }}
                </td>
            </tr>
            <!-- Region  -->
            <tr>
                <td style="padding:5px 21px; font-size: 14px;">
                    <b>Region:</b> {{ rfs.region }}
                </td>
            </tr>
            <!-- Aditional text -->
            <tr>
                <td style="padding: 5px 21px; font-size: 14px;">
                    {{ bottomText }}
                </td>
            </tr>
            {{#if default}}
                <!-- button cta Go to RFS -->
                <tr>
                    <td style="padding: 10px 21px;font-size: 14px;">
                        <a href="{{ link }}"
                            style="text-decoration: none;display: inline-block;">
                            <img src="https://drive.google.com/uc?export=view&id=1-ic32WOt3Teo7K7_JkGXgm2tw9_Kk3AF" alt="Go to RFS" width="100" height="30"/>
                        </a>
                    </td>
                </tr>
            {{else}}
                <!-- button cta APPROVE / REJECT -->
                <tr>
                    <td style="padding: 10px 21px;font-size: 14px;">
                        <a href="{{ link }}"
                            style="text-decoration: none;display: inline-block; margin-right: 10px;">
                            <img src="https://drive.google.com/uc?export=view&id=1jGg9QVnkYC_qqf3cDLdFkHtM5DwG14t6" alt="APPROVE" width="100" height="30"/>
                        </a>
                        <a href="{{ link }}"
                            style="text-decoration: none;display: inline-block;">
                            <img src="https://drive.google.com/uc?export=view&id=1nHIvDn5EVBZ8cy0pHgaEGdzEq3d8UBxP" alt="REJECT" width="100" height="30"/>
                        </a>
                    </td>
                </tr>
            {{/if}}
            <!-- status -->
            <tr>
                <td style="padding: 10px 21px 30px 21px;">
                    <img src="https://drive.google.com/uc?export=view&id=1Ur3YwN7wk3ZbBA2WnWCMnKbhJwCXfpmB" alt="RFS Status" width="682" height="71"/>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>